.icon-button {
  background: none;
  border: 0;
  height: 2rem;
  padding: 0.25rem;
  width: 2rem;

  &:hover {
    cursor: pointer;
  }

  svg {
    fill: none;
    height: 1.5rem;
    width: 1.5rem;

    path {
      stroke: currentColor;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: 0.5s;
    }
  }
}
