.log-event-table {
  > table {
    border-collapse: collapse;
    position: relative;
    table-layout: fixed; // helps with large data sets
    text-align: left;
    width: 100%;

    th,
    td {
      padding: 0.25rem;
      vertical-align: top;
    }

    thead {
      tr {
        th {
          background: gray;
          color: white;
          font-weight: 300;
          position: sticky;
          top: 0; /* required for the stickiness */

          &.toggle {
            width: calc(
              0.5rem + 40px
            ); // .25rem x 2 padding + icon button width of 40px
          }

          &.event-time {
            width: 20%;
          }

          &.event-json {
            width: auto;
          }
        } // end th
      } // end tr
    } // end thead

    tbody {
      tr {
        background: white;
        border: 1px solid white;
        border-width: 0 0 1px 0;

        &:nth-child(odd) {
          background: lightgray;
        }

        &.open {
          background: lightgoldenrodyellow;
          border-color: lightgray;

          td.event-json {
            overflow: auto;
            white-space: unset;
          }
        }

        td {
          &.event-time {
            overflow: hidden;
            padding-top: 0.6rem; // tweak to align with icon button
          }

          &.event-json {
            overflow: hidden;
            padding-top: 0.6rem; // tweak to align with icon button
            white-space: nowrap;
          }
        } // end td
      } // end tr
    } // end tbody

    tfoot {
      tr {
        td {
          border: 1px solid gray;
          border-width: 1px 0 0;
        } //end td
      } // end tr
    } // end tfoot
  } // end table
} // end log-event-table
