.log-event-table {
  border: 1px solid gray; // TODO move this to LogView

  table {
    border-collapse: collapse;
    position: relative;
    table-layout: fixed; // helps with large data sets
    text-align: left;
    width: 100%;

    th,
    td {
      padding: 0.25rem;
      vertical-align: top;
    }

    thead {
      tr {
        background: gray;

        th {
          background: gray;
          border-color: darkgray gray;
          color: white;
          font-weight: 300;
          position: sticky;
          top: 0; /* required for the stickiness */

          &.toggle {
            width: calc(
              0.5rem + 40px
            ); // .25rem x 2 padding + icon button width of 40px
          }

          &.event-time {
            width: 20%;
          }

          &.event-json {
            width: auto;
          }
        } // end th
      } // end tr
    } // end thead

    tbody {
      tr {
        background: white;

        &:nth-child(odd) {
          background: lightgray;
        }

        &.open {
          background: lightblue;

          td.event-json {
            overflow: unset;
            white-space: unset;
          }
        }

        td {
          &.event-time {
            overflow: hidden;
            padding-top: 0.6rem; // tweak to align with icon button
          }

          &.event-json {
            overflow: hidden; // TODO maybe ellipsis?
            padding-top: 0.6rem; // tweak to align with icon button
            white-space: nowrap;
          }
        } // end td
      } // end tr
    } // end tbody
  } // end table
} // end log-event-table
